#include "resources.h"

1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041504e2"
        BEGIN
            VALUE "CompanyName", "Magnetic-Fox\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "FileDescription", "Testy WinAPI\0"
            VALUE "InternalName", "WinAPI_test.exe\0"
            VALUE "LegalCopyright", "©2023-2024 Magnetic-Fox\0"
            VALUE "LegalTrademarks", "WinAPI™\0"
            VALUE "OriginalFilename", "WinAPI_test.exe\0"
            VALUE "ProductName", "Testy WinAPI\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0415, 1250
    END
END

IDD_DIALOG1 DIALOG DISCARDABLE  0, 0, 187, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Informacje o programie"
// FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,130,7,50,14
    PUSHBUTTON      "&Anuluj",IDCANCEL,130,24,50,14
    LTEXT           "Testy WinAPI",IDC_STATIC,40,7,45,8
    ICON            IDI_ICON1,IDC_STATIC,7,7,20,20
    LTEXT           "©2023-2024 Magnetic-Fox",IDC_STATIC,40,21,90,8
END

IDI_ICON1 ICON DISCARDABLE "icon1.ico"

IDR_ACCELERATORS ACCELERATORS DISCARDABLE
BEGIN
    VK_TAB, ID_ACC_TAB, VIRTKEY
    VK_F4, ID_ACC_ALTF4, ALT, VIRTKEY
    VK_F1, ID_ACC_F1, VIRTKEY
END

IDR_MENU1 MENU DISCARDABLE
BEGIN
    POPUP "&Plik"
    BEGIN
        MENUITEM "Za&koñcz\tAlt+F4", ID_FILE_EXIT
    END
    POPUP "Pomo&c"
    BEGIN
        MENUITEM "&O programie\tF1", ID_HELP_ABOUT
    END
END

IDR_RCDATA1 RCDATA DISCARDABLE
BEGIN
    0x42, 0x65, 0x64, 0x7A, 0x69, 0x65, 0x20, 0x73,
    0x6F, 0x62, 0x69, 0x65, 0x20, 0x74, 0x65, 0x73,
    0x74, 0x6F, 0x77, 0x61, 0x20, 0x72, 0x7A, 0x65,
    0x63, 0x7A, 0x00
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_STRING1             "Pierwszy string"
    IDS_STRING2             "Drugi string"
    IDS_STRING3             "No co? Testujemy, nie? ;-)"
END
