#include "menuitems.h"

1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILETYPE 0x1L
{
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041504e2"
        BEGIN
            VALUE "CompanyName", "Magnetic-Fox\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "FileDescription", "Testy WinAPI\0"
            VALUE "InternalName", "WinAPI_test.exe\0"
            VALUE "LegalCopyright", "©2023 Magnetic-Fox\0"
            // VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "WinAPI_test.exe\0"
            VALUE "ProductName", "Testy WinAPI\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0415, 1250
    END
}

IDR_MENU1 MENU
BEGIN
    POPUP "&Plik"
    BEGIN
        MENUITEM "Za&koñcz\tAlt+F4", ID_PLIK_ZAKONCZ
    END
    POPUP "Pomo&c"
    BEGIN
        MENUITEM "&O programie", ID_POMOC_O
    END
END
